<div class="jumbotron">
    <h1>Developer's Directory</h1>
    <p class="lead">An Application to list developers per category and so much more</p>
    <p><a href="https://documenter.getpostman.com/view/3615420/RzfiFnYR" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
